*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/artifacts
/.idea/assetWizardSettings.xml
.DS_Store
my.db
.idea/
/build
/captures
/app/release
/buildSrc/build
.externalNativeBuild
.cxx
